USE [master]
GO
/****** Object:  Database [STOREDB]    Script Date: 6/7/2020 5:24:11 PM ******/
CREATE DATABASE [STOREDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STORE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\STOREDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STORE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\STOREDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STOREDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STOREDB]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 6/7/2020 5:24:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Price] [decimal](8, 2) NOT NULL,
	[Qty_on_hand] [int] NOT NULL,
	[Item_Description] [char](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 6/7/2020 5:24:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[Purchase_ID] [int] IDENTITY(1,1) NOT NULL,
	[Account_ID] [int] NOT NULL,
	[Item_ID] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[Purchase_Date] [date] NOT NULL,
	[Total] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Purchase_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Account]    Script Date: 6/7/2020 5:24:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [char](40) NOT NULL,
	[User_Password] [char](40) NOT NULL,
	[Balance] [decimal](8, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UIX_USERNAME_USER_PASSWORD] UNIQUE NONCLUSTERED 
(
	[Username] ASC,
	[User_Password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Purchase] ADD  CONSTRAINT [df_Purchase_Date]  DEFAULT (getdate()) FOR [Purchase_Date]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD FOREIGN KEY([Account_ID])
REFERENCES [dbo].[User_Account] ([ID])
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD FOREIGN KEY([Item_ID])
REFERENCES [dbo].[Item] ([ID])
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [CK_PRICE] CHECK  (([price]>(0.0)))
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [CK_PRICE]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [CK_QTY_ON_HAND] CHECK  (([qty_on_hand]>=(0)))
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [CK_QTY_ON_HAND]
GO
ALTER TABLE [dbo].[User_Account]  WITH CHECK ADD  CONSTRAINT [CK_USER_PASSWORD] CHECK  (([user_password] like '%[0-9]%' AND [user_password] like '%[A-Z]%' AND [user_password] like '%[!@#$%^&*()-_=+,.;:"`~]%' AND len([user_password])>=(8)))
GO
ALTER TABLE [dbo].[User_Account] CHECK CONSTRAINT [CK_USER_PASSWORD]
GO
USE [master]
GO
